@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}


.content-description ul {
    list-style: disc !important;
    padding-left: 20px !important;
}


.content-description ol {
    list-style: decimal !important;
    padding-left: 20px !important;
}

.content-description li {
    list-style: inherit !important;
}

.richedit-reset * {
    all: unset;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

.richedit-reset ul,
.richedit-reset ol {
    all: revert;
    margin-left: 1.2rem; 
    padding-left: 1rem;
    list-style-position: outside;
}

.richedit-reset ul li,
.richedit-reset ol li {
    all: revert;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    margin-bottom: 6px;
}